In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv(r"C:\Users\Intel\Desktop\coffee sales files\Coffee Shop Sales.csv")
df

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,1/1/2023,07:06:11,2,5,Lower Manhattan,32,3.00,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,1/1/2023,07:08:56,2,5,Lower Manhattan,57,3.10,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,1/1/2023,07:14:04,2,5,Lower Manhattan,59,4.50,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,1/1/2023,07:20:24,1,5,Lower Manhattan,22,2.00,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,1/1/2023,07:22:41,2,5,Lower Manhattan,57,3.10,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
...,...,...,...,...,...,...,...,...,...,...,...
149111,149452,6/30/2023,20:18:41,2,8,Hell's Kitchen,44,2.50,Tea,Brewed herbal tea,Peppermint Rg
149112,149453,6/30/2023,20:25:10,2,8,Hell's Kitchen,49,3.00,Tea,Brewed Black tea,English Breakfast Lg
149113,149454,6/30/2023,20:31:34,1,8,Hell's Kitchen,45,3.00,Tea,Brewed herbal tea,Peppermint Lg
149114,149455,6/30/2023,20:57:19,1,8,Hell's Kitchen,40,3.75,Coffee,Barista Espresso,Cappuccino
149115,149456,6/30/2023,20:57:19,2,8,Hell's Kitchen,64,0.80,Flavours,Regular syrup,Hazelnut syrup

In [4]:
df['transaction_date'] = pd.to_datetime(df['transaction_date'], format='%m/%d/%Y')
df['transaction_time'] = pd.to_datetime(df['transaction_time'], format='%H:%M:%S')

In [5]:
df['sales'] = df['transaction_qty'] * df['unit_price']

In [6]:
from ipywidgets import interactive

In [25]:
#Total Sales Analysis

output = Output()

def total_sales_by_month(month):
    with output:
        output.clear_output()  

        monthly_sales = df[df['transaction_date'].dt.to_period('M') == month]['sales'].sum()
        
        print(f"Month: {month} - Total Sales: ${monthly_sales:.2f}")

months = df['transaction_date'].dt.to_period('M').unique()

interactive_plot = interactive(total_sales_by_month, month=widgets.Dropdown(options=months, description='Month:'))

display(interactive_plot, output)

interactive(children=(Dropdown(description='Month:', options=(Period('2023-01', 'M'), Period('2023-02', 'M'), …

Output()

In [27]:
#Total Orders Analysis

output = Output()

def orders_by_month(month):
    with output:
        output.clear_output()  
       
        monthly_orders = df[df['transaction_date'].dt.to_period('M') == month]['transaction_id'].nunique()
        
        
        print(f"Month: {month} - Total Orders: {monthly_orders}")


months = df['transaction_date'].dt.to_period('M').unique()


interactive_plot = interactive(orders_by_month, month=widgets.Dropdown(options=months, description='Month:'))


display(interactive_plot, output)

interactive(children=(Dropdown(description='Month:', options=(Period('2023-01', 'M'), Period('2023-02', 'M'), …

Output()

In [29]:
# Total Quantity Sold Analysis

df['transaction_date'] = pd.to_datetime(df['transaction_date'], format='%m/%d/%Y', errors='coerce')

def quantity_by_month(month):

    monthly_quantity = df[df['transaction_date'].dt.to_period('M') == month]['transaction_qty'].sum()
    
 
    print(f"Month: {month} - Total Quantity Sold: {monthly_quantity}")


months = df['transaction_date'].dt.to_period('M').unique()


interactive_plot = interactive(quantity_by_month, month=widgets.Dropdown(options=months, description='Month:'))


display(interactive_plot)

interactive(children=(Dropdown(description='Month:', options=(Period('2023-01', 'M'), Period('2023-02', 'M'), …

In [33]:
#Total Sales by Store Location

def sales_by_location_and_month(location, month):
   
    monthly_sales = df[(df['transaction_date'].dt.to_period('M') == month) & (df['store_location'] == location)]
    total_sales = monthly_sales['sales'].sum()

  
    print(f"Location: {location} - Month: {month} - Total Sales: {total_sales}")
    
   
    plt.figure(figsize=(10, 6))
    monthly_sales_grouped = monthly_sales.groupby('transaction_date')['sales'].sum()
    monthly_sales_grouped.plot(kind='bar', color='skyblue', title=f"Sales for {location} in {month}", xlabel='Date', ylabel='Sales')


    plt.xticks(ticks=range(len(monthly_sales_grouped)), labels=monthly_sales_grouped.index.strftime('%d'), rotation=45)
    
    plt.show()


months = df['transaction_date'].dt.to_period('M').unique()
store_locations = df['store_location'].unique()


interactive_plot = interactive(sales_by_location_and_month, 
                               location=widgets.Dropdown(options=store_locations, description='Location:'),
                               month=widgets.Dropdown(options=months, description='Month:'))


display(interactive_plot)

interactive(children=(Dropdown(description='Location:', options=('Lower Manhattan', "Hell's Kitchen", 'Astoria…

In [35]:
#Sales Analysis By Product Category

def sales_by_product_category_for_month(month):

    monthly_sales = df[df['transaction_date'].dt.to_period('M') == month]
    
  
    sales_by_category = monthly_sales.groupby('product_category')['sales'].sum().sort_values(ascending=False)
    
  
    print(f"Sales for {month} by Product Category:")
    print(sales_by_category)
    

    plt.figure(figsize=(10, 6))
    sales_by_category.plot(kind='bar', color='skyblue', title=f"Sales by Product Category for {month}", xlabel="Product Category", ylabel="Sales")
    plt.xticks(rotation=45)
    plt.show()


months = df['transaction_date'].dt.to_period('M').unique()


interactive_plot = interactive(sales_by_product_category_for_month, month=widgets.Dropdown(options=months, description='Month:'))


display(interactive_plot)

interactive(children=(Dropdown(description='Month:', options=(Period('2023-01', 'M'), Period('2023-02', 'M'), …

In [37]:
#Top 10 Products by Sales

df['total_sales'] = df['unit_price'] * df['transaction_qty']

def top_10_products_by_month(selected_month):

    month_data = df[df['transaction_date'].dt.to_period('M') == selected_month]

    sales_by_product = month_data.groupby('product_type')['total_sales'].sum().sort_values(ascending=False).head(10)

    print(f"Top 10 Products by Sales for {selected_month}:")
    print(sales_by_product)
    
    sales_by_product.plot(kind='bar', figsize=(10, 6), color='skyblue')
    plt.title(f'Top 10 Products by Sales in {selected_month}')
    plt.xlabel('Product Type')
    plt.ylabel('Total Sales')
    plt.xticks(rotation=45, ha="right")
    plt.show()

months = df['transaction_date'].dt.to_period('M').unique()

interactive_plot = interactive(top_10_products_by_month, selected_month=widgets.Dropdown(options=months, description='Month:'))
display(interactive_plot)

interactive(children=(Dropdown(description='Month:', options=(Period('2023-01', 'M'), Period('2023-02', 'M'), …